<p style="color: green"><%= notice %></p>

<%
=begin%>
 jumbotron is outdated, find a new one 
<%
=end%>

<div class="jumbotron">
  <h1 class="display-5"><%= @friend.first_name + " " + @friend.last_name %></h1>
  <p class="lead"><%= @friend.email%></p>
  <hr class="my-5">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<%= render @friend %>

<div>
  <%= link_to "Edit", edit_friend_path(@friend), class:"btn btn-secondary" %>
  <%= link_to "Back", friends_path, class:"btn btn-secondary" %>
  <%= button_to "Destroy", @friend, method: :delete, class:"btn btn-danger" %>
</div>
